.box {width:1250px;
height:70px;
border: 3px solid #1c7032;
padding:8px;
background-color:#0fdb46;
text-align:center;
margin:5px 5px 5px 5px;
display:flex;
 justify-content: center;
  align-items: center;
margin-left:auto;
margin-right:auto;
border-radius:20px;
position: sticky;
top:0;
opacity:0.75}

.boxA {width:1250px;
height:100px;
border: 3px solid #1c7032;
padding:8px;
background-color:#0fdb46;
text-align:center;
margin:5px 5px 5px 5px;
display:flex;
 justify-content: center;
  align-items: center;
margin-left:auto;
margin-right:auto;
border-radius:20px;
top:0;
color:white;
background-image:url("box2.jfif");
background-position:center;
background-repeat:no-repeat;
background-size:cover;}

.box2 {width:1300px;
height:750px;
border: 3px solid #1c7032;
padding:8px;
background-color:#0fdb46;
text-align:center;
margin:5px 5px 5px 5px;
display:block;
 justify-content: center;
  align-items: center;
margin-left:auto;
margin-right:auto;
border-radius:20px;
top:0;
background-image:url("box2.jfif");
background-position:center;
background-repeat:no-repeat;
background-size:cover;}

.box2a {width:1300px;
height:1700px;
border: 3px solid #1c7032;
padding:8px;
background-color:#0fdb46;
text-align:center;
margin:5px 5px 5px 5px;
display:block;
 justify-content: center;
  align-items: center;
margin-left:auto;
margin-right:auto;
border-radius:20px;
top:0;
background-image:url("box2.jfif");
background-position:center;
background-repeat:no-repeat;
background-size:cover;}

.box2b {width:1300px;
height:900px;
border: 3px solid #1c7032;
padding:8px;
background-color:#0fdb46;
text-align:center;
margin:5px 5px 5px 5px;
display:block;
 justify-content: center;
  align-items: center;
margin-left:auto;
margin-right:auto;
border-radius:20px;
top:0;
background-image:url("box2.jfif");
background-position:center;
background-repeat:no-repeat;
background-size:cover;}

.box3 {width:600px;
height:500px;
border: 3px solid #1c7032;
padding:8px;
background-color:#0fdb46;
text-align:center;
margin:5px 5px 5px 5px;
display:block;
margin-left:0;
margin-right:auto;
border-radius:20px;
top:0;
float:left;
background-image:url("box2.jfif");
background-position:center;
background-repeat:no-repeat;
background-size:cover;}

.box3a {width:600px;
height:300px;
border: 3px solid #1c7032;
padding:8px;
background-color:#0fdb46;
text-align:center;
margin:5px 5px 5px 5px;
display:block;
margin-left:0;
margin-right:auto;
border-radius:20px;
top:0;
float:left;
background-image:url("box2.jfif");
background-position:center;
background-repeat:no-repeat;
background-size:cover;}

.box4 {width:600px;
height:150px;
border: 3px solid #1c7032;
padding:8px;
background-color:#0fdb46;
text-align:center;
margin:5px 5px 5px 5px;
display:block;
margin-left:0;
margin-right:auto;
border-radius:20px;
top:0;
float:left;
background-image:url("box2.jfif");
background-position:center;
background-repeat:no-repeat;
background-size:cover;}

.box5 {width:600px;
height:525px;
border: 3px solid #1c7032;
padding:8px;
background-color:#0fdb46;
text-align:center;
margin:5px 5px 5px 5px;
 display:block;
border-radius:20px;
top:0;
float:right;
background-image:url("box2.jfif");
background-position:center;
background-repeat:no-repeat;
background-size:cover;}

.box5a {width:600px;
height:800px;
border: 3px solid #1c7032;
padding:8px;
background-color:#0fdb46;
text-align:center;
margin:5px 5px 5px 5px;
 display:block;
border-radius:20px;
top:0;
float:right;
background-image:url("box2.jfif");
background-position:center;
background-repeat:no-repeat;
background-size:cover;}

.box6l {width:600px;
height:525px;
border: 3px solid #1c7032;
padding:8px;
background-color:#0fdb46;
text-align:center;
margin:5px 5px 5px 5px;
 display:block;
border-radius:20px;
top:0;
float:left;
background-image:url("box2.jfif");
background-position:center;
background-repeat:no-repeat;
background-size:cover;}

.box6r {width:600px;
height:525px;
border: 3px solid #1c7032;
padding:8px;
background-color:#0fdb46;
text-align:center;
margin:5px 5px 5px 5px;
 display:block;
border-radius:20px;
top:0;
float:right;
background-image:url("box2.jfif");
background-position:center;
background-repeat:no-repeat;
background-size:cover;}

.font {font-family:roboto;font-size:18px;text-align:center;color:white;}

.h1font {font-family:times new roman;font-size:20px;text-shadow: 3px 3px 5px yellow;text-align:center;font-style:oblique;color:white;}

#nav {word-spacing:75px;}

video, img {border-radius:20px;border: 3px solid #1c7032;}

body {background-image:url("bgbackground.avif");
background-position:center;
background-repeat:no-repeat;
background-size:cover;
background-color:#59ad13;}

#home:link, #about:link, #services:link, #contact:link {color:white;text-shadow: 3px 3px 7px white;
								position: relative;
										overflow: hidden;
										 transition: color 0.4s ease;
										 z-index: 1;}
										 
#home:visited, #about:visited, #services:visited, #contact:visited {color:yellow;text-shadow: 3px 3px 7px yellow;
								position: relative;
										overflow: hidden;
										 transition: color 0.4s ease;
										 z-index: 1;}										 
										 
#home:hover, #about:hover, #services:hover, #contact:hover {color:white;
										text-shadow: 5px 5px 10px white;
										border-radius:25px;
										padding:3px;
										font-size:24px; }
										
#home:active, #about:active, #services:active, #contact:active {color:pink;text-shadow: 3px 3px 7px pink;
								position: relative;
										overflow: hidden;
										 transition: color 0.4s ease;
										 z-index: 1;}											

#home::before, #about::before, #services::before, #contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b1db18; 
  border-radius: 100px;
  z-index: -1;
  transform: scale(0); 
  transition: transform 0.4s ease;}

#home:hover::before, #about:hover::before, #services:hover::before, #contact:hover::before{
transform: scale(1.5);}
